@charset "utf-8";

@import url(https://cdn.jsdelivr.net/npm/fullpage.js@2.9.4/dist/jquery.fullpage.min.js);

/* fonts */
@font-face{
    font-family: "ArialCE";
    src:  url(../fonts/arial/ArialCE.ttf);
    src:  url(../fonts/arial/ArialCEBold.ttf);
    src:  url(../fonts/arial/ArialCEBoldItalic.ttf);
    src:  url(../fonts/arial/ArialCEItalic.ttf);
}
#wrap{
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #222;
}
ol,ul,li{
    list-style: none;
}
img,iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html,body{
    font-family: "ArialCE";
    font-size: 100%;
    overflow-x: hidden;
    /* 모바일에서 가로로 이동안되도록 설정 */
}