@charset "utf-8";
.container{
    height: 100vh;
    /* background-color: black; */
}

/******** header ********/
#hamburger{
    display: none;

}
.header-area{
    display: flex;
    padding: 32px 40px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: transparent;
    width: 100%;
    transition: 0.5s;
}
.header-area.active{
    background-color: #fff;
}

.header-logo{
    width: 175px;
    height: 28px;
    transition: 0.5s;
}
.header-logo.active{
    width: 155px;
    height: auto;
}

.header-logo .logo{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/******** main-menu 영역 ********/
nav{
    width: calc(100% - 175px);
    /* 로고 width 값 뺀것 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    margin-right: -32px;
    margin-left: 32px;

}
.menu li{
    margin-right: 32px;
    white-space: nowrap;
    /* 글자 밑으로 안떨어지게만듦 */
}
.menu li a{
    font-size: 0.88rem;
    text-transform: uppercase;
    color: #707070;
    padding-bottom: 5px;

}

.menu li:hover a{
    border-bottom: 2px solid #707070;
}




/******** icon-box 영역 ********/
.icon-box{
    display: flex;
    margin-right: -32px;

}
.icon-box li{
    width: 24px;
    height: 24px;
    margin-right: 32px;
}
.icon-box li a{
    display: inline-block;

}

/******** sub-menu-box 영역 ********/
.sub-menu-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: #fff;
    z-index: 99;
    display: none;
}
.sub-menu-box.active{
    display: block;
}
.sub-menu{
    position: fixed;
    top: 100px;
    left: 40px;
    z-index: 99;
    opacity: 0;
    transition: 0.3s;
}
.sub-menu.active{
    opacity: 1;
}
.sub-menu li{
    font-size: 0.75rem;
    color: #707070;
    margin-bottom: 15px;
    cursor: pointer;
}


/******** swiper 영역 ********/
.mask{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.slider{
    height: 100vh;
    width: 500vw;
    float: left;
}
.slider .in-slider.fi{
    width: 100vw;
    height: 100%;
    background:url(../img/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .in-slider.se{
    width: 100vw;
    height: 100%;
    background:url(../img/1-0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .in-slider.th{
    width: 100vw;
    height: 100%;
    background:url(../img/1-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .in-slider.fo{
    width: 100vw;
    height: 100%;
    background:url(../img/1-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .in-slider.fif{
    width: 100vw;
    height: 100%;
    background:url(../img/1-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/******** swiper 커스텀  ********/
.swiper,
.swiper-wrapper{
    z-index: 0 !important;
}
.swiper-button-next, .swiper-button-prev{
    position: static !important;
    left: 10px;
    right: auto;
    width: auto;
    height: auto;
    display: block;
    margin-top: 0;
    font-weight: 700;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-button-prev:after{
    color: #000;
    font-size: 20px !important;
}
.slider-content-box .arrow-btn{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 98px;
}

/******** slider-content 영역 ********/
.slider-content-box{
    position: absolute;
    bottom: 120px;
    left: calc(50% - 200px);
}
.slider-content-box .content-inner{
    width: 400px;
    height: 98px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 27px 120px;
     box-sizing: border-box;
     text-align: center;
     color: #707070;
}
.slider-content-box .content-inner h2{
    font-size: 0.75rem;
    font-weight: 400;
    
}
.slider-content-box .content-inner span{
    font-weight: 700;
    margin-top: 10px ;
    margin-right: 22px;
    display: inline-block;

}
.slider-content-box .content-inner span:last-child{
    margin-right: 0;
}


/******** sec-1 영역 ********/
.sec-1 .container{
    width: 100%;
    display: flex;
}
.sec-1 .sticky-wrap{
    width: 350px;
    height: 100%;
    color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec-1 .sticky-wrap .inner-txt{
    text-align: center;
}
.sec-1 .sticky-wrap span{

    font-size: 0.75rem;
}
.sec-1 .sticky-wrap a{
    display: block;
    font-size: 1rem;
    margin-top: 8px;
    font-weight: 400;
}
.sec-1 .mask{
    width: calc(100% - 350px);
    height: 100%;
    overflow: hidden;
    display: flex;

}
.sec-1 .auto-slider-wrap{
    width: 9420px;
    display: flex;
}
.sec-1 .auto-slider{
    width: 4710px;
    height: 100%;
    display: flex;
    animation:  slider 50s linear infinite;
}

.sec-1 .in-auto-slider{
    width: 16.666%;
    height: 100%;

}
.sec-1 .in-auto-slider a{
    display: inline-block;
    width: 100%;
}

@keyframes slider{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

/******** sec-2 영역 *******/
.sec-2 .container{
    display: flex;
}
.sec-2 .product-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-2 .product-fitting{
    width: 50%;
  
}
.sec-2 .product-right{
    width: 50%;
}

/******** sec-3 영역 *******/
.sec-3 .container{
    width: 100%;
    position: relative;
}
.sec-3 .slogan-box{
    height: 304px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sec-3 .animation-txt.box1{
    width: 2580px;
    position: absolute;
    top: 0;
    left: 260px;
    animation: slo1 50s linear infinite;
}
.sec-3 .animation-txt.box2{
    width: 4267px;
    position: absolute;
    top: 140px;
    left: -380px;
    animation: slo2 50s linear infinite;
}
@keyframes slo1{
    from{
        transform: translateX(-2000px);
    }
    to{
        transform: translateX(1920px);
    }
}

@keyframes slo2{
    from{
        transform: translateX(1920px);
    }
    to{
        transform: translateX(-2000px);
    }
}
.sec-3 .sec-3-img-box{
    width: 100%;
    height: 100%;
    background-image: url(../img/A665460F-CEAA-4F85-BA7F-085F2B171BCD.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/******** sec-4 영역 *******/
.sec-4 .container{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-4 .fade-gallery{
    /* position: absolute; */
    z-index: 100;
    text-align: center;
}
.sec-4 .inner-gallery{
    padding-bottom: 30px;
}

.sec-4 .inner-gallery a{
    font-size: 1.88rem;
    color: #fff;
}
.sec-4 .fade-gallery-photo{
    position: absolute;
    width: 100%;
    height : 100%;
    top: 0;
    left: 0;
    background-image: url(../img/4-0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    transition: 0.5s;
}


/******** footer 영역 *******/
.footer-design {
    height: 60%;
}
.footer h1,
.footer p,
.footer a{
    color: #707070;
}
.footer h1,
.footer p{
    font-size: 0.75rem;
}

.footer .footer-t{
    padding: 32px 40px;
    box-sizing: border-box;
    display: flex;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    margin-right: -30px;
}
.footer .footer-t .box{
    width: calc(25% - 30px);
    margin-right: 30px;
    padding-top: 10px;
    box-sizing: border-box;
}
.footer .footer-t .inner-txt1 input{
    width: 100%;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #707070;

}
.footer p{
    margin: 15px 0 27px;
}
.footer .inner-txt2 p{
    margin-top: 0;
}
.footer .inner-txt3 h1,
.footer .inner-txt3 p{
    margin-bottom: 15px;
}
.footer .footer-b{
    padding: 23px 40px 22px;
    box-sizing: border-box;
}
.footer .footer-b .txt-bottom{
    margin: 0 0 10px 0;
}

/* 반응형 미디어쿼리 적용 */
@media (max-width:1199px){
    .icon-box{
        display: none;
    }
    .header-area{
        justify-content: space-between;
        padding: 15px 10px;
    }
    #hamburger{
        width: 20px;
        height: 16px;
        position: relative;
    }
    #hamburger,
    #hamburger span{
        display: block;
        z-index: 99999;
        transition: 0.4s;
    }
    #hamburger span{
        top: 5px;
        left: 10px;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #583c2c;
    }
    #hamburger span:first-child{
        top: 0;
        left: 0;
    }
    #hamburger span:last-child{
        top: 10px;
        left: 0;
    }

    #hamburger.active span:first-child{
        transform: translateY(10px);
    }
    #hamburger.active span:last-child{
        transform: translateY(-10px);
    }
    nav{
        width: 100vw;
        height: 100vh;
        background-color: #a6806a;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 99;
        transition: 0.5s;
        transform: translateX(100%);
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin-left: 0;
    }
    .menu li{
        margin-right: 0;
    }
    .menu li a{
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 10px;
        display: block;
        transition: 0.3s;
    }
    .menu li:hover a{
        border-bottom: none;
        color: #583c2c;
    }
    .sub-menu-box.active{
        display: none;
    }
    nav.active{
        transform: translateX(0);
    }
    .sec-2 .product-fitting{
        width: 80%;
    }
}

@media (max-width:959px){
    .sec-1 .sticky-wrap{
        width: 250px;
    }
    .sec-1 .mask{
        width: calc(100% - 250px);
    }
    .footer .container{
        height: auto;

    }
    .footer .footer-t{
        display: block;
        padding: 32px 0;
        margin-right: 0;

    }
    .footer .footer-t .box{
        width: 100%;
        padding: 10px 30px 30px 30px;
        border-top: 1px solid #00000014;
    }
    .footer .footer-t .inner-txt1{
        border-top: none;
    }
    .footer .footer-t .inner-txt1 input{
        width: 350px;
    }
    .footer .footer-b{
        padding: 10px;
    }
}

@media (max-width:759px){

    .container{
        height: auto;

    }
    .slider .in-slider.fi,
    .slider .in-slider.th,
    .slider .in-slider.fo{
        background-position: left;
    }

    .slider-content-box{
        display: none;
    }
    .sec-1 .container{
        display: block;
    }
    .sec-1 .sticky-wrap{
        width: 100%;
        height: 200px;
    }
    .sec-1 .mask{
        width: 100%;
        height: 100%;
        display: block;
    }
    .sec-1 .auto-slider-wrap{
        width: 100%;
        display: block;

    }
    .sec-1 .auto-slider{
        width: 100%;
        height: 100%;
        animation: none;
        display: flex;
        flex-wrap: wrap;
    }
    .sec-1 .auto-slider.box2{
        display: none;
    }
    .sec-1 .in-auto-slider{
        width: 50%;
        height: 100%;
    }
    .sec-2 .container{
        display: block;
        background-color: #a6806a;
    }
    .sec-2 .product-left{
        position: static;
        width: 100%;
        padding: 70px 0;
    }
    .sec-2 .product-right{
        height: auto;
        width: 100%;
        padding: 150px 0;
    }
    .sec-3 .sec-3-img-box{
        height: 500px;

    }
    .sec-3 .slogan-box{
        height: 150px;
    }
    .sec-3 .animation-txt.box1{
        animation: none;
        width: 1200px;
        top: 0;
        left: -40px;
    }
    .sec-3 .animation-txt.box2{
        animation: none;
        width: 1800px;
        top: 40px;
    }
    .sec-4 .container{
        height: 500px;
    }
    /* .sec-4 .fade-gallery-photo{
        height: 500px;
    } */
    .sec-4 .inner-gallery{
        margin-bottom: 15px;
    }
    .sec-4 .inner-gallery a{
        font-size: 1.2rem;
    }
}





